NODE_ENV=dev
PORT=3333
APP_NAME='sellbio-back'

SECRET_ENV=
FRONT_END_URL=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=